lightning_logs/

__pycache__/
*.arrow
.vscode/
notebooks/
wandb
vilt-real
dataset/
ViLT
Vilt\ evaluate
dropbox_uploader.sh
.dfc/
*.egg-info
dvd/datamodules/urls.py
result
weights/
scripts/
demos/
assets/test*
Vilt evaulate/
some_result/
vilt-gender-cnt-pretrain-50gender/
vilt-gender-cnt-pretrain/
